.navBar {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(256, 256, 256, 1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 100%;
}

.navBar a {
  text-decoration: none;
}

.navBar h4 {
  display: inline-block;
  margin-right: 60px;
  color: black;
}

.navBar h1 {
  margin-left: 20px;
}

.navLinks {
  align-self: flex-end;
}

@media (max-width: 800px) {
  .navLinks {
    display: none;
  }
}
