@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin: 0;
}

body {
  background-color: #d3d3d3;
}

.containerMain {
  /*background-color: #343434; */
  margin: 20px 5% 0 5%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /*justify-items: center; */
  column-gap: 20px;
}

@media (max-width: 1080px) {
  .containerMain {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .containerMain {
    display: block;
  }
}

.containerMain aside {
  display: inline-block;
  width: 500px;
}

.searchContainerSection {
  margin-top: 40px;
}

.recentUploadsTitle {
  font-size: 18px;
  margin-bottom: 15px;
}
